.subqnt, .addqnt{
    width:30px;
    font-size: 20px;
    color: white;
    background-color: green;
    border: none;
    font-weight: 500;
}
.inputqnt{
    width: 40px;
    border: none;
    padding: 5px;
    text-align: center;
}
/* cart price row */

.summary{
    margin-top: 10px;
    padding: 0px 10px;
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
}

.summary h3{
	text-align: center;
	font-size: 1em;
	font-weight: 500;
    margin-top: 5px;
}

.summary .summary-item:not(:last-of-type){
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.summary .text{
	font-size: 1em;
	font-weight: 600;
}

.summary .price{
	font-size: 1em;
	float: right;
}

.summary button{
	margin-top: 20px;
}
.contant{
    margin-top: 66px;
}
.card {
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
	height: 60px;
    background-color: white;
}
.cart-menu{
	position: relative;
	text-decoration: none;
	background: #f85605;
	color: black;
	padding: 8px 10px;
	border-radius: 50%;
}

.cart-menu i{
	font-size: 20px;
}
.cart-menu span.child{
			position: absolute;
      background-color: #f85605;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 16px;
      color: black;
      top: -6px;
      right: -3px;
      font-size: 10px;
      border-radius: 50%;
      border: 2px solid white;
}


.navbar-toggler{
	border:none !important;
}
.product-price{
    color: #f85605;
    font-size: 22px;
    font-weight:800;
}
.card-title{
    height: 35px;
    overflow: hidden;
    font-size: 14px;
}
.product-name{
    font: 10px sans-serif !important;
}
img.lazy {
    width: 100%; 
    display: block;
}
.maincontant{
    margin-top: 60px;
}
#featured {
    width: 100%;
}
@media screen and (max-width: 800px) {
  .cart-menu{
  padding: 5px 8px;
  margin-right: 6px;
}
  .cart-menu i{
    font-size: 14px;
  }
  .image img{
    width: 100% !important;
    height: auto;
}
}
